<div class="col-md-4">
    <div class="panel">
        <div class="panel-heading">
            <!--<h1 class="panel-title">예측기간 선택</h1>-->
            <h2 class="">예측기간 선택</h2>
        </div>

        <div class="panel-body">
            <label class="fancy-radio">
                <input name="predictDate" value="1일" type="radio" onclick="select_PredictDate()" checked>
                <span><i></i>1일</span>
            </label>
            <label class="fancy-radio">
                <input name="predictDate" value="5일" type="radio" onclick="select_PredictDate()">
                <span><i></i>5일</span>
            </label>
            <label class="fancy-radio">
                <input name="predictDate" value="20일" type="radio" onclick="select_PredictDate()">
                <span><i></i>20일</span>
            </label>
            <label class="fancy-radio">
                <input name="predictDate" value="60일" type="radio" onclick="select_PredictDate()">
                <span><i></i>60일</span>
            </label>
        </div>
    </div>
</div>