<div class="col-md-4">
    <div class="panel">
        <hr>
        <div class="panel-body">
            <!--<a type="button" class="btn btn-danger btn-block"  href="/saveChart">-->
            <button type="button" class="btn btn-danger btn-block">
                <span class="lnr lnr-download"></span> <span class="cssclass">CHART DOWNLOAD</span>
            </button>
        </div>
        <hr>
    </div>
</div>
<div class="col-md-4">
    <div class="panel">
        <hr>
        <div class="panel-body">
            <button type="button" class="btn btn-danger btn-block" onclick="saveModel()">
                <span class="lnr lnr-download"></span> <span class="cssclass">MODEL DOWNLOAD</span>
            </button>
        </div>
        <hr>
    </div>
</div>