<div class="panel-heading">
    <!--<h1 class="panel-title">테마 선택</h1>-->
    <h2 class="">테마 선택</h2>
</div>

<div class="panel-body">
    <select class="form-control" id="select_theme"  name="select_theme" onchange="select_Theme()">
        <option value="">선택</option>
        <option value="게임">게임</option>
        <option value="겨울">겨울</option>
        <option value="인공지능">인공지능</option>
        <option value="자율주행차">자율주행차</option>
        <option value="항공여행">항공여행</option>
    </select>
</div>