<div class="panel-heading">
    <!--<h3 class="panel-title">주 가</h3>-->
    <h2 class="">학습데이터 선택</h2>
</div>
<div class="panel-body">
    <select class="form-control" id="stock_kind" name="stock_kind" onchange="select_Kind()">
        <option value="주가">주가</option>
        <option value="주가 + 이평선">주가 + 이평선</option>
        <option value="주가 + 뉴스">주가 + 뉴스</option>
        <option value="주가 + 이평선 + 뉴스">주가 + 이평선 + 뉴스</option>
        <option value="뉴스">뉴스</option>
        <option value="주가 + 거래량">주가 + 거래량</option>
        <option value="주가 + 거래량 + 이평선">주가 + 거래량 + 이평선</option>
        <option value="주가 + 거래량 + 이평선 + 뉴스">주가 + 거래량 + 이평선 + 뉴스</option>
    </select>
</div>